#container {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background-color:#c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
}

    #container .tippy-box {
        font-size: large;
    }

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Cpath d='M28.43 6.378C18.27 4.586 8.58 11.37 6.788 21.533c-1.791 10.161 4.994 19.851 15.155 21.643l.707-4.006C14.7 37.768 9.392 30.189 10.794 22.24c1.401-7.95 8.981-13.258 16.93-11.856l.707-4.006z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center / 50px no-repeat;
    background-color: gray;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.shaking {
    animation: shake 0.82s infinite;
    transform: translate3d(0, 0, 0);
}


#sidebar {
    flex: 0 3rem;
    background-color: #000330;
    color: white;
    user-select: none;
}

.sidebar-item {
    border-bottom: 1px solid blueviolet;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;    
    text-align: center;
}

    .sidebar-item .label {
        font-size: 0.7em;
        display: block;
        margin-bottom: 0.4em;
    }
    
    .sidebar-item .anchor {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .sidebar-item .anchor:hover {
        color: lightblue;
    }

    .sidebar-item i {
        display: block;
        width: 100%;
        font-size: 1.5em;
    }

    .sidebar-item canvas {
        border: 2px solid white;
        display: inline-block;
        width: 2em;
        height: 2em;
    }

.selected.sidebar-item {
    background-color: blueviolet;
    padding-top: 0.5em;    
    padding-bottom: 0.5em;
    text-align: center;
}

    .selected.sidebar-item .canvas {
        border: 2px solid black;
    }

/* #layzerDesigner */

    #layzerDesigner .item-row canvas,
    #layzerDesigner .item-row span {
        cursor: pointer;
        display: inline-block;
        border: 4px solid white;
        margin: 1px;
    }

    #layzerDesigner .item-row canvas:hover,
    #layzerDesigner .item-row span:hover {
        border: 4px solid lightskyblue;
    }

    #layzerDesigner .item-row canvas.selected,
    #layzerDesigner .item-row span.selected {
        border: 4px solid lightskyblue;
    }

    #layzerDesignerNote {
        font-size: 0.8em;
    }

#main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

canvas {
    display: block;
}
